---
import magicImage from 'assets/magic.svg?url';
import waveImage from 'assets/wave.png?url';
import { APP_CONFIG } from 'appConfig';
---

<section class="mb-14">
  <div class="overflow-hidden mb-4 sm:max-w-[16rem]">
    <h1 class="slideup-text leading-[1.25]">
      <span>Hi <span class="hand-wave mr-1"><img src={waveImage} width="47" height="60" alt="wave" /></span> I’m</span>
      <span class="gradient-text">
        {APP_CONFIG.USER.shortName}
      </span>
    </h1>
  </div>
  <p class="unset mb-6 sm:mb-4">
    <span>Front-End Engineer, Open Sourcerer</span>
    <span class="inline-block w-8 h-8 magic-vector-wrapper">
      <img src={magicImage} alt="magic" class="inline w-full magic-vector" width="32" height="32" />
    </span>
    <span>
      , Previously at <a href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer">Thoughtworks</a>
      & <a href="https://www.lynk.co.in/" target="_blank" rel="noopener noreferrer">Lynk</a>. Love engineering clean and
      performant web applications.
    </span>
  </p>
  <p class="unset mb-4">
    Know more <a href="/about">about me</a>
  </p>
  <div class="flex gap-3 text-text-bold text-xl items-center">
    <a class="unset icon-link h-6 w-7" href={APP_CONFIG.USER.social.linkedin} target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i>
      <span class="sr-only">{APP_CONFIG.USER.shortName}'s LinkedIn</span>
    </a>
    <a class="unset icon-link h-6 w-7" href={APP_CONFIG.USER.social.github} target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github" aria-hidden="true" title="GitHub"></i>
      <span class="sr-only">{APP_CONFIG.USER.shortName}'s GitHub</span>
    </a>
    <a class="unset icon-link h-6 w-7" href={APP_CONFIG.USER.social.behance} target="_blank" rel="noopener noreferrer">
      <i class="fab fa-behance" aria-hidden="true" title="Behance"></i>
      <span class="sr-only">{APP_CONFIG.USER.shortName}'s Behance</span>
    </a>
  </div>
</section>

<style>
  .hand-wave {
    transform-origin: 70% 70%;
    display: inline-block;
    margin-bottom: -5px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
  }

  .hand-wave:hover {
    animation-delay: none;
    animation-iteration-count: infinite;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(20deg);
    }

    20% {
      transform: rotate(-8deg);
    }

    30% {
      transform: rotate(20deg);
    }

    40% {
      transform: rotate(-4deg);
    }

    50% {
      transform: rotate(10deg);
    }

    60%,
    100% {
      transform: rotate(0deg);
    }
  }

  .magic-vector-wrapper {
    margin-right: -0.88rem;
  }

  .magic-vector {
    margin: -1.2rem -2rem 0 -0.4rem;
  }
</style>
