---
import { APP_CONFIG } from 'appConfig';
import { projects } from './config';

const hasOddProjects = projects.length % 2 !== 0;
---

<section>
  <h2 class="mb-6">Projects</h2>
  <div class="grid gap-6 md:gap-7 grid-cols-2 md:grid-cols-1">
    {
      projects.map((p, index) => (
        <div class="flex card" style={`animation-delay: ${index * 0.08}s`}>
          <div class="w-full flex flex-col relative rounded-lg card-inner">
            <div class="flex justify-between items-center mb-2">
              <div class="flex items-center">
                <img class="mr-3" src={p.logo} width="20" height="20" loading="lazy" decoding="async" alt={p.name} />
                <a class="unset flex items-center card-link" href={p.liveURL} target="_blank" rel="noopener noreferrer">
                  <p class="font-bold text-text-bold text-lg">{p.name}</p>
                  <i class="fas fa-arrow-up-right-from-square text-sm ml-2" />
                </a>
              </div>
              <div class="flex items-center">
                <a
                  class="text-xl unset hover:text-text-link transition-colors duration-200"
                  href={p.githubURL}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-github" aria-hidden="true" title="View on GitHub" />
                  <span class="sr-only">{p.name}'s GitHub URL</span>
                </a>
              </div>
            </div>
            <p>{p.description}</p>
            <div class="flex mt-6">
              {p.technologies.map((tech, idx) => (
                <div
                  class:list={['flex justify-center items-center border border-bg-border pill', { 'ml-3': idx > 0 }]}
                >
                  {tech}
                </div>
              ))}
            </div>
          </div>
        </div>
      ))
    }
    <div
      class={`flex card items-center justify-center ${hasOddProjects ? '' : 'col-span-2 md:col-span-1'}`}
      style={`animation-delay: ${projects.length * 0.08}s`}
    >
      <span>
        ...more on&nbsp;<a href={APP_CONFIG.USER.social.github} target="_blank" rel="noopener noreferrer">GitHub</a
        >&nbsp;&&nbsp;<a href={APP_CONFIG.USER.social.behance} target="_blank" rel="noopener noreferrer">Behance</a
        >&nbsp;🚀
      </span>
    </div>
  </div>
</section>

<style>
  .card {
    opacity: 0;
    animation: fadein 0.8s ease forwards;
  }

  .card-inner {
    position: relative;
    padding: 1.6rem;
    background: theme('backgroundImage.bg-gradient');

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate3d(0, 0, 0); /* safari fix */
      backface-visibility: hidden; /* safari fix */
      background-image: linear-gradient(
        235deg,
        theme('colors.secondary.DEFAULT'),
        theme('colors.bg.body'),
        theme('colors.primary.DEFAULT')
      );
      filter: blur(6px);
      transition: all 0.3s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        filter: blur(9px);
      }
    }
  }

  .card-link {
    box-shadow: inset 0 -1px 0 0 transparent;
    transition: all 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: theme('colors.text.link');
        box-shadow: inset 0 -2px 0 0 theme('colors.text.link');
      }
    }
  }

  .pill {
    width: 58px;
    height: 22px;
    font-size: 0.7rem;
    border-radius: 0.625rem;
  }
</style>
