---
import { getEntryBySlug } from 'astro:content';

const { posts, groupByYears = true } = Astro.props;
---

{
  posts.map(async (post, index) => {
    const postEntry = await getEntryBySlug('blog', post.slug);
    const { remarkPluginFrontmatter } = await postEntry!.render();

    const isYearChanged = post.data.date.getFullYear() !== posts[index - 1]?.data.date.getFullYear();
    return (
      <div
        class:list={[
          'post pt-3 pb-4 border-b border-bg-border relative',
          { 'mb-3': index !== posts.length - 1, 'padding-extra': groupByYears && isYearChanged },
        ]}
        style={`animation-delay: ${index * 0.08}s`}
      >
        {groupByYears && isYearChanged && (
          <span class="absolute -top-[22px] -left-[26px] text-text-muted font-bold text-[5.4rem] opacity-[14%] tracking-wide select-none -z-[1]">
            {post.data.date.getFullYear()}
          </span>
        )}
        <a class="unset" href={`/blog/${post.slug}`}>
          <h2 class="mb-1 text-[1.18rem] font-[500] transition-colors duration-200">{post.data.title}</h2>
          <div class="text-sm text-text-muted">
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: '2-digit',
              })}
            </time>
            <span class="mx-1 text-text-body/20">•</span>
            <span>{remarkPluginFrontmatter.readingTime}</span>
          </div>
        </a>
      </div>
    );
  })
}

<style>
  .post {
    opacity: 0;
    animation: fadein 0.8s ease forwards;
  }

  .post.padding-extra {
    padding-top: 3.5rem;
  }

  @media (hover: hover) and (pointer: fine) {
    .post a:hover > h2 {
      color: theme('colors.primary.DEFAULT');
    }
  }
</style>
