---
import { APP_CONFIG } from 'appConfig';
---

<div class="flex gap-4 text-text-bold text-xl items-center">
  <a
    class="unset hover:text-text-link transition-colors duration-200 h-6 w-7"
    href={APP_CONFIG.USER.social.linkedin}
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i>
    <span class="sr-only">{APP_CONFIG.USER.shortName}'s LinkedIn</span>
  </a>
  <a
    class="unset hover:text-text-link transition-colors duration-200 h-6 w-7"
    href={APP_CONFIG.USER.social.github}
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fab fa-github" aria-hidden="true" title="GitHub"></i>
    <span class="sr-only">{APP_CONFIG.USER.shortName}'s GitHub</span>
  </a>
  <a
    class="unset hover:text-text-link transition-colors duration-200 h-6 w-7"
    href={APP_CONFIG.USER.social.behance}
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fab fa-behance" aria-hidden="true" title="Behance"></i>
    <span class="sr-only">{APP_CONFIG.USER.shortName}'s Behance</span>
  </a>
</div>
