---
import 'theme/theme.css';
import 'theme/base.css';
import FontFace from 'components/FontFace.astro';
import Navbar from 'components/Navbar.astro';
import Footer from 'components/Footer.astro';
import { APP_CONFIG } from 'appConfig';

const isProd = import.meta.env.BUILD === 'production';

const { showBack, showReadingProgress } = Astro.props;
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="shortcut icon" href={new URL('favicon.ico', Astro.site)} type="image/x-icon" />
    <link rel="apple-touch-icon" href={new URL('icons/apple-touch-icon.png', Astro.site)} />
    <link rel="manifest" href={new URL('manifest.webmanifest', Astro.site)} />
    <meta
      name="mask-icon"
      content={new URL('icons/icon-512-512.png', Astro.site)}
      color={APP_CONFIG.META.appBackground}
    />
    <meta name="theme-color" content={APP_CONFIG.META.appBackground} />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-TileImage" content={new URL('icons/icon-512-512.png', Astro.site)} />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="msapplication-TileColor" content={APP_CONFIG.META.appBackground} />
    <meta name="application-name" content={APP_CONFIG.META.appName} />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={APP_CONFIG.USER.name} />
    <meta name="og:site_name" content={APP_CONFIG.META.appName} />
    <meta name="twitter:site" content={APP_CONFIG.USER.social.twitter} />
    <meta name="twitter:creator" content={APP_CONFIG.USER.social.twitter} />
    <meta name="twitter:card" content="summary_large_image" />
    <slot name="seo" />
    <style is:inline>
      .no-transition *,
      .no-transition *::before,
      .no-transition *::after {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
      }
    </style>
    <script is:inline>
      (function () {
        if (typeof window !== 'undefined') {
          const storageTheme = sessionStorage.getItem('theme');
          if (storageTheme) document.documentElement.setAttribute('data-theme', storageTheme);
        }
      })();
    </script>
    <FontFace />
  </head>
  <body class="min-h-screen no-transition">
    <Navbar showReadingProgress={showReadingProgress} />
    <main class="w-full max-w-3xl pt-12 px-8 sm:px-6 relative">
      {
        showBack && (
          <a class="unset go-back-btn md:hidden" href="../">
            <i class="fas fa-arrow-left text-primary" />
          </a>
        )
      }
      <slot />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: theme('height.navbar') minmax(0, 1fr) theme('height.footer');
        justify-items: center;
      }

      main {
        grid-area: main;
        padding-bottom: 7rem;
      }

      .go-back-btn {
        position: absolute;
        top: 36px;
        left: -40px;
        padding: 0.625rem;
        font-size: 1.2rem;

        @media (hover: hover) and (pointer: fine) {
          transition: transform 0.2s;

          &:hover {
            transform: translateX(-2px);
          }
        }
      }
    </style>
    <script is:inline>
      // code to prevent transitions from firing on page load (Bug observed in Safari mobile's webkit engine)
      document.body.classList.remove('no-transition');
    </script>
    {
      isProd && (
        <script
          is:inline
          src={`https://static.cloudflareinsights.com/beacon.min.js?token=${APP_CONFIG.CLOUDFLARE_ANALYTICS_TOKEN}`}
          defer
        />
      )
    }
  </body>
</html>
